nav {
	position: sticky;
	top: 0px;

	background-color: #fff;
	z-index: 2;
	height: 100px;
}

.menu-justify {
	display: flex;
	justify-content: space-around;
}

.container-menu {
	display: flex;
	block-size: 100px;
}

.noBreakLine {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
}
.menu a {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	transition: color 0.3s;
}

.menu:hover a {
	color: var(--main-color);
}

.menu {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	transition: color 0.3s;
	padding: 37px 13px;
	z-index: 2;
}

.sub-menu {
	position: absolute;
	display: block;
	top: 95px;
	font-size: 17px;
	color: #000;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.4s linear;
}

.item-menu {
	padding: 10px;
	text-transform: none;
	background: #fff;
}

.menu:hover {
	color: var(--main-color);
	cursor: pointer;
}
.menu:hover .sub-menu {
	z-index: 2;
	visibility: visible;
	opacity: 1;
}

.item-menu:hover {
	color: var(--main-color);
}

/* Logo vs.2 as a graphics---------- Start ------------------------------  */

.logoVs2-menu {
	height: 100px;
	width: 260px;
	margin-right: 10px;
}

.logoVs2-menu a img {
	padding: 7px 0 3px 0;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	transition: transform 0.3s;
}

.logoVs2-menu a img:hover {
	transform: scale(0.9, 0.9);
}

/* Logo vs.2 as a graphics---------- END ------------------------------  */
