* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lexend", sans-serif;
	font-size: 16px;
	background-color: #fff;
}

/* UPPER-BAR START --------------------- */

.upper-bar {
	display: flex;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	height: 48px;
	background-color: #a60306;
	line-height: 48px;
}

.header-box {
	padding: 0 10px;
	color: #fff;
	font-size: 14px;
}

.upper-bar a {
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	transition: color 0.3s;
}

.upper-bar a:hover {
	color: #000;
}

.right-tips {
	text-transform: uppercase;
}

.upper-bar i {
	padding: 10px;
	width: 36px;
	height: 36px;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
}

.upper-bar i:hover {
	background-color: rgb(51, 51, 51);
}

/* Upper-bar END  --------------------- */

/* Menu START --------------------------------- */

nav {
	height: 100px;
	background-color: #fff;
}

.container-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	block-size: 100px;
}

.menu a {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	transition: color 0.3s;
	margin: 0;
}

.menu a:hover {
	color: #a60306;
}

.menu {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	transition: color 0.3s;

	padding: 10px;
	margin: 0px;
}

.menu:hover {
	color: #a60306;
	cursor: pointer;
}

.sub-menu {
	position: absolute;
	top: 65px;
}

.item-menu {
	padding: 10px;
	text-transform: capitalize;
	/* border: 2px solid black; */
	background: #fff;
}

/* Logo START ----------------------------------- */
/* 
.logo-menu {
	display: flex;
	align-items: center;
}

.logo-menu a {
	position: relative;
	top: -18px;
	display: flex;
	flex-direction: column;
	color: #000;
	text-decoration: none;
}

.fa-truck {
	position: absolute;
	top: 25px;
	background-color: #ec2b28;
	border: 7px #ec2b28 solid;
	border-radius: 50%;
	font-size: 28px;
}

.super {
	position: relative;
	top: 11px;
	margin-left: 53px;
	padding-bottom: 0px;
	font-size: 55px;
	font-weight: 500;
	letter-spacing: -5px;
	text-transform: uppercase;
}

.transport {
	padding: 4px 7px;
	background-color: #ec2b28;
	border-radius: 8px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 5px;
} */
/* Logo END -----------------------------------------*/

/* Logo vs.2 as a graphics---------- START ------------------------------  */
.logoVs2-menu {
	height: 100px;
	width: 303px;
}

.logoVs2-menu a img {
	padding: 7px 0 3px 0;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}
/* Logo vs.2 as a graphics---------- END ------------------------------  */

/* .banner {
	
} */

.banner img {
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
}
