@import url(upper_bar.css);
@import url(menu.css);
@import url(banner.css);
@import url(cards.css);

:root {
	--main-color: #a60306;
	--second-color: #e00708;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lexend", sans-serif;
	font-size: 16px;
	background-color: #fff;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

/* -------------------------------------- */
