@import url(upper_bar.css);
@import url(menu.css);
@import url(banner.css);

:root {
	--main-color: #a60306;
	--second-color: #e00708;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lexend", sans-serif;
	font-size: 16px;
	background-color: #fff;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

/* -------------------------------------- */

main {
	border: 3px solid yellowgreen;
}

.cards {
	width: 100%;
	height: 800px;
	margin: 10px 0;
	background-color: #fff;
}

.cards h1 {
	margin: 50px 0;
	text-align: center;
	color: var(--main-color);
}

.cards p {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

/* --------------------------------------------- */
